<div class="login-body">
   <div class="container-login right-panel-active" id="login">
    <div class="form-container sign-up-container ">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h2><strong>Create your account</strong></h2>
        <span> Choose and email and a password</span>
        <div class="hidden-label">
          <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "Email" }%>
          <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", placeholder: "Password" } %>
        <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", placeholder: "Confirm your password" } %>
        <%= f.button :submit, "Create your account", class: "loglog" %>
        </div>
      <% end %>

    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left" id="reglog">
        <br>
          <h1>Welcome !</h1>
          <p>Enter your personal information and join our community</p><br>
          <p>Do you have an account ?</p><br>
          <%- if controller_name != 'sessions' %>
            <%= link_to "Connect", new_session_path(resource_name), class: "ghost" %><br />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
