<div class="container">
    <h2>Your stats</h2>
    <div class="feedback">
      <p>Based on your details, these are your daily macronutrient requirements. Keep up the good work and stay active!</p>
    </div>
    <div class="result-container">
      <div class="result">
        <label>BMR (Basal Metabolic Rate):
        <i class="info-icon" data-tooltip="Your BMR is the number of calories your body needs to maintain basic physiological functions while at rest.">ℹ️</i>
        </label>
        <span><%= @bmr %></span>
      </div>
      <div class="divider"></div>
      <div class="result">
        <label>TDEE (Total Daily Energy Expenditure):
        <i class="info-icon" data-tooltip="Your TDEE is the total number of calories you need to maintain your current weight, considering all activities throughout the day.">ℹ️</i>
        </label>
        <span><%= @tdee %></span>
      </div>
    </div>
    <div class="macronutrient-container">
      <div class="macronutrient maintain">
        <h3>Maintain</h3>
        <div class="card_content">
          <span><%= @macronutrients[:protein] %>g</span>
          <label>Protein</label>
          <span><%= @macronutrients[:fat] %>g</span>
          <label>Fat</label>
          <span><%= @macronutrients[:carbs] %>g</span>
          <label>Carbs</label>
        </div>
      </div>
      <div class="macronutrient cut">
        <h3>Cut</h3>
        <div class="card_content">
          <span><%= @macronutrients_cut[:protein] %>g</span>
          <label>Protein</label>
          <span><%= @macronutrients_cut[:fat] %>g</span>
          <label>Fat</label>
          <span><%= @macronutrients_cut[:carbs] %>g</span>
          <label>Carbs</label>
        </div>
      </div>
      <div class="macronutrient bulk">
        <h3>Bulk</h3>
        <div class="card_content">
          <span><%= @macronutrients_bulk[:protein] %>g</span>
          <label>Protein</label>
          <span><%= @macronutrients_bulk[:fat] %>g</span>
          <label>Fat</label>
          <span><%= @macronutrients_bulk[:carbs] %>g</span>
          <label>Carbs</label>
        </div>
        </div>
      </div>
      <div class="weight-container">
        <label>Ideal Weight (kg):</label>
        <span><%= @ideal_weight %></span>
        <p>Your ideal body weight is estimated to be <%= @ideal_weight %> kg based on various formulas. These formulas are based on your height and represent averages so don't take them too seriously, especially if you lift weights.</p>
      </div>
    <div class="vitamins">
      <h3>Vitamin Recommendations</h3>
      <p>For optimal health, consider incorporating the following vitamins into your diet:</p>
      <ul>
        <li><strong>Vitamin A:</strong> Supports eye health and immune function.</li>
        <li><strong>Vitamin C:</strong> Boosts the immune system and helps with collagen production.</li>
        <li><strong>Vitamin D:</strong> Essential for bone health and immune function. Consider supplementation if you have limited sun exposure.</li>
        <li><strong>Vitamin E:</strong> Acts as an antioxidant, protecting cells from damage.</li>
        <li><strong>Vitamin K:</strong> Important for blood clotting and bone health.</li>
        <li><strong>B Vitamins:</strong> Aid in energy production and support brain health. Includes B1 (Thiamine), B2 (Riboflavin), B3 (Niacin), B6 (Pyridoxine), B9 (Folate), and B12 (Cobalamin).</li>
      </ul>
    </div>

    <div class="update-details-container">
  <h2>Update Your Details</h2>
  <%= form_for current_user, url: user_path(current_user), method: :patch do |form| %>

    <div class="recal-textbox">
      <%= form.label :age, 'Age' %>
      <%= form.number_field :age, required: true, class: 'form-control' %>
    </div>

    <div class="recal-textbox">
      <%= form.label :height, 'Height (cm)' %>
      <%= form.number_field :height, required: true, class: 'form-control' %>
    </div>

    <div class="recal-textbox">
      <%= form.label :weight, 'Weight (kg)' %>
      <%= form.number_field :weight, required: true, class: 'form-control' %>
    </div>

    <div class="recal-textbox">
      <%= form.label :activity_level, 'Level of Activity' %>
      <%= form.select :activity_level,
        options_for_select([
          ['Sedentary (little or no exercise)', 'sedentary'],
          ['Lightly active (light exercise/sports 1-3 days/week)', 'light'],
          ['Moderately active (moderate exercise/sports 3-5 days/week)', 'moderate'],
          ['Active (hard exercise/sports 6-7 days a week)', 'active'],
          ['Very active (very hard exercise/sports & physical job)', 'very_active']
        ]), {}, { required: true, class: 'form-control' } %>
    </div>

    <div class="submit-button">
      <%= form.submit 'Recalculate', class: 'button' %>
    </div>
  <% end %>
</div>
</div>
