<div class="login-body">
  <div class="container-login" id="login">
	<div class="form-container sign-in-container">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2><strong>Connect</strong></h2>
			  <span>Enter your email to register</span>
        <div class="hidden-label">
        <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "Email" } %>
        <%= f.input :password,
                    required: false,
                  input_html: { autocomplete: "current-password", placeholder: "Password" } %>
        </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Connect", class: "loglog" %>
      <% end %>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right" id="register">
      <br>
				<h1>Still not registered?</h1>
				<p>Create your account to join our community!</p>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %><br><br><br>
          <%= link_to "Create your account", new_registration_path(resource_name), class: "ghost" %><br />
        <% end %>
			</div>
		</div>
	</div>
 </div>
</div>
